.header {
    background-color: rgb(0, 0, 49);
    height: 1460px;
    width: 1890px;
}

.head {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.about {
    margin-top: 15px;
}


.side-heading {
    margin-top: 5px;
    text-align: justify;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(58, 58, 253);
}

.content {
    margin-top: 3px;
    margin-left: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    text-align: justify;
}

.img {
    width: 15px;
    height: 15px;
    flex: 50%;
    padding: 5px;
}

.skillImg {
    padding-right: 20px;
    width: 200px;
    height: 145px;
}

.end-container {
    display: flex;
}

.contact {
    margin-left: 1200px;
    margin-top: 105px;
}

.formContent {
    margin-left: 20px;
}

.sub-heading {
    margin-top: 5px;
    font-size: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    width: 250px;
    height: 20px;

}

.tmessage {
    height: 70px;
}

.content1 {
    color: white;
}

.button1 {

    color: white;
    background-color: rgb(99, 99, 245);
    cursor: pointer;
    border: none;
    margin-top: 5px;
    margin-left: 143px;
    width: 115px;
    height: 35px;
}

.button2 {
    color: white;
    background-color: rgb(99, 99, 245);
    cursor: pointer;
    border: none;
    margin-top: 5px;
    height: 35px;
}
.socialImage{
    display: flex;
}